,
<!--.card-header_overide {
    font-weight: bold;
    font-size: 40px;
    background-color: aliceblue;
}

.card-header_overide {
    font-weight: bold;
    font-size: 40px;
    background-color: aliceblue;
}